.ct-navbar {
    height: 30px;
    align-items: center; /* vertical alignment */
    font-size: 1.07rem;
    background-color: white;
  }
  
  .ct-nav-menu {
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-gap: 10px;
    list-style: none;
    width: 1000px;
    justify-content: center;
  }
  
  .nav-item {
    display: flex;
    align-items: center; /* vertical alignment */
    height: 25px;
  }
  
  .nav-links {
    color: black;
    text-decoration: none;
    padding: 0.5rem ;
  }
  
  .nav-links:hover {
    color: #6d22c9;
    transition: all 0.2s ease-out;
  }
  
  .fa-bars {
    color: #fff;
  }
  
  .nav-links-mobile {
    display: none;
  }
  
  .menu-icon {
    display: none;
  }
  