.header {
    width: 80%;
    height: 1%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background-color: white;
    padding: 0.2rem calc((100vw - 1000px) / 2);

  }
  
  .header ul {
    list-style: none;
    display: flex;
  }
  
  .header li {
    margin-left: 2rem
  }
  
  .header a {
    text-decoration: none;
    font-size: 100%;
    font-family: 'Roboto';
    color: black;
  }
  
  .header a:hover,
  .header a:active,
  .header a.active {
    color: #6d22c9;
  }

  .navDropdown{
    
  }