$primary-color: white;
$secondary-color: #7b1dfe;
$sale-color: #fc3c3d;
$disabled-grey: #aaaaaa;

.item{
  position: relative;
}

  .image {
    overflow: hidden;
    border-radius: 20px;
    height:50%;
  }
  
  .image img {
    width: 100%;
    object-fit: cover;
  }
  .content {
    vertical-align: top;
  }
  
  .btn_fav {
    // location
    position: sticky;
    bottom:76%;
    left: 78%;
  
    //color
    background-color: $primary-color;
    color: $secondary-color;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 37px;
    height: 37px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    line-height: 50%;  
  }
  
  .btn_fav:hover {
    background-color: $secondary-color;
    color: $primary-color;
  }
  
  .sale_number{
    position: sticky;
    bottom:76%;
    left: 10%;
    background-color: $sale-color;
    width: 60px;
    height: 30px;
    text-align: center;
    line-height: 150%;  
    color: $primary-color;
    border-radius: 10px;
  }

  .content h2 {
    font-size: 20px;
    color: #2c292b;
    word-wrap: break-word;
    width: 170px;
    position: relative;
    left: 5%;
    display:inline-block;
    margin-bottom: 300px;
    vertical-align: top;
  }
  .content .prices{
    display:inline-block;
    position: relative;
    left: 10%;
    text-align: right;
  }
  
  .content .new_price{
    color: $sale-color;
    font-weight: bold;
    font-size: 20px;
  }

  .content .old_price{
    color:$disabled-grey;
    position: relative;
    bottom: 20px;
  }

  .actions {
    position:  absolute;
    bottom: 35%;
  }
  
  .actions button {
    font: inherit;
    cursor: pointer;
    border:none;
    background-color: transparent;
    padding: 0.5rem 1.5rem;
    position: relative;
    bottom: 5px;
  }

  .actions button.buy_btn{
    font-weight: bold;
    font-size: 18px;
    left: 45%;
    color: $secondary-color;
  }

  .actions button.star{
    color: $disabled-grey;
    position: relative;
    font-size: 13px;
  }

  .actions button.buy_btn:hover,
  .actions button.buy_btn:active {
    font-size: 20px;
  }

