$primary-color: white;
$secondary-color: #7b1dfe;
$sale-color: #fc3c3d;
$disabled-grey: #aaaaaa;

.item{
  position: relative;
}

  .image {
    overflow: hidden;
    border-radius: 20px;
    height:50%;
  }
  
  .image img {
    width: 100%;
    object-fit: cover;
  }
  .content {
    height: 50%;
  }
  
  .btn_fav {
    // location
    position: sticky;
    bottom:76%;
    left: 78%;
  
    //color
    background-color: $primary-color;
    color: $secondary-color;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 37px;
    height: 37px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    line-height: 50%;  
  }
  
  .btn_fav:hover {
    background-color: $secondary-color;
    color: $primary-color;
  }
  
  .sale_number{
    position: sticky;
    bottom:76%;
    left: 10%;
    background-color: $sale-color;
    width: 60px;
    height: 30px;
    text-align: center;
    line-height: 150%;  
    color: $primary-color;
    border-radius: 10px;
  }

  .content h2 {
    font-size: 20px;
    color: #2c292b;
    word-wrap: break-word;
    width: 170px;
    position: relative;
    left: 5%;
    display:inline-block;
    margin-bottom: 300px;
    vertical-align: top;
  }
  .content .prices{
    display:inline-block;
    position: relative;
    left: 10%;
    text-align: right;
  }
  
  .content .new_price{
    color: $sale-color;
    font-weight: bold;
    font-size: 20px;
  }

  .content .old_price{
    color:$disabled-grey;
    position: relative;
    bottom: 20px;
  }

  .actions {
    position:  absolute;
    bottom: 30%;
  }
  
  .actions button {
    font: inherit;
    cursor: pointer;
    border:none;
    background-color: transparent;
    padding: 0.5rem 1.5rem;
    position: relative;
    bottom: 5px;
  }

  .actions button.buy_btn{
    font-weight: bold;
    font-size: 18px;
    left: 45%;
    color: $secondary-color;
  }

  .actions button.star{
    color: $disabled-grey;
    position: relative;
    font-size: 13px;
    right:10px;
  }

  .actions button.buy_btn:hover,
  .actions button.buy_btn:active {
    font-size: 20px;
  }

  .choice{
    position:  absolute;
    bottom: 38%;
    left: 3%;
    display: inline;
  }

  .color_choice, .size_choice{
    display:inline-block;
  }

  
  /* Hide the browser's default radio button */
  .container_color input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark_color {
    display:inline-block;
    margin-left:5px;
    margin-right: 5px;
    height: 16px;
    width: 16px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container_color:hover input ~ .checkmark_color {
    filter: brightness(50%);
  }
  
  /* When the radio button is checked, add a blue background */
  .container_color input:checked ~ .checkmark_color {
    border:1px solid rgb(53, 51, 51);
  }

  .size_choice{
    margin-left: 50px;
  }

  /* Hide the browser's default radio button */
  .container_size input {
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark_size {
    display:inline-block;
    margin-left:-10px;
    height: 25px;
    width: 25px;
    background-color: transparent;
    border:2px solid rgb(153, 152, 152);
    border-radius: 50%;
    color: rgb(153, 152, 152);
    text-align: center;
  }
  
  /* On mouse-over, add a grey background color */
  .container_size:hover input ~ .checkmark_size {
    color: $secondary-color;
    border-color: $secondary-color;
  }
  
  /* When the radio button is checked, add a blue background */
  .container_size input:checked ~ .checkmark_size {
    color: $secondary-color;
    border-color: $secondary-color;
  }




