.main {
	z-index: 0;
	position: absolute;
}
.circle {
	border-radius: 50%;
	border: 150px solid #eeeff0;
	background-color: transparent;
	overflow: hidden;
	position: fixed;
	right: 20%;
	top: 4000px;
	top: 10%;
	right: 75%;
	z-index: -1;
	width: 450px;
	height: 450px;
}

