// .alice-carousel.__ssr

// .alice-carousel__stage-item.__active


// .alice-carousel__stage-item.__cloned
// .alice-carousel__stage-item.__target

.alice-carousel__next-btn-item{
    position: relative;
    left: 65px;
    bottom:41px;
}
.alice-carousel__prev-btn-item{
    position: relative;
    right: 65px;
    bottom:41px;
}

// .alice-carousel__play-btn-item.__pause

// .alice-carousel__dots-item.__active
// .alice-carousel__dots-item.__custom

// .alice-carousel__slide-info-item.__separator