.alice-carousel__next-btn-item{
    position: relative;
    left: 65px;
    bottom:41px;
}
.alice-carousel__prev-btn-item{
    position: relative;
    right: 65px;
    bottom:41px;
}


/* Container holding the image and the text */
.container {
    height: auto;
  }
  
  
  .text-1 {
    position: absolute;
    top: 65%;
    left: 80%;
    color: #7e7f81;
    font-family: sans-serif, verdana;
    font-size: 25px;
  }

  .text-2 {
    position: absolute;
    top: 69%;
    left: 80%;
    color: black;
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 40px;
  }

  .text-3 {
    position: absolute;
    top: 78%;
    left: 80%;
    color: #7b1dfe;
    font-family: sans-serif, verdana;
    font-size: 23px;
    text-decoration: underline;
  }
